@import 'tailwindcss';

.active{
    border-bottom: 1px solid;
}
button{
    cursor: pointer;
}
body {
  background-color: #fff; /* or your desired background */
}
input, select, textarea{
    outline: none;
}
